@import "../../styles/vars.scss";

.title {
  font-size: 3rem;
  margin-bottom: 1em;
}

.tab-panel-container {
  position: relative;
}

.tab-panel {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.prev,
.next {
  &-enter-active,
  &-exit-active {
    .tab-panel {
      transition: opacity 300ms, transform 300ms;
    }
  }
  &-exit-active {
    .tab-panel {
      transition: opacity 300ms, transform 300ms;
    }
  }
}

.prev {
  &-enter,
  &-exit-active {
    opacity: 0;
  }
  &-enter {
    .tab-panel {
      transform: translateX(100%);
    }
  }
  &-exit-active {
    .tab-panel {
      transform: translateX(-100%);
    }
  }
}

.next {
  &-enter,
  &-exit-active {
    opacity: 0;
  }
  &-enter {
    .tab-panel {
      transform: translateX(100%);
    }
  }
  &-exit-active {
    .tab-panel {
      transform: translateX(-100%);
    }
  }
}