@import "../../styles/vars.scss";

.title {
  font-size: 3rem;
  margin-bottom: 1em;
}

.tab-panel-container {
  position: relative;
}

.tab-panel {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.tabs-container {
  border-bottom: 1px solid $l-gray;
  margin-bottom: 24px;
}

.tabs {
  display: inline-flex;
}