@import "../../styles/vars.scss";

.title {
  color: $primary;
  font-size: 3.2rem;
  margin-bottom: 1em;
}

.tab-panel-container {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  @include mq{
    margin-left: -24px;
    margin-right: -24px;
  }
}

.tab-panel {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  background-color: $base-gray;
}

.tabs-container {
  border-bottom: 1px solid $l-gray;
  margin-bottom: 24px;
}

.tabs {
  display: inline-flex;
}