@import "../../styles/vars.scss";

// .next {
//   &-enter {
//     transform: translateX(100%);
//   }
//   &-exit-active {
//     transform: translateX(-100%);
//   }
// }

// .prev {
//   &-enter {
//     transform: translateX(-100%);
//   }
//   &-exit-active {
//     transform: translateX(100%);
//   }
// }

// .enter-active {
//   opacity: 1;
//   transform: translateX(0);
// }

// .exit {
//   opacity: 1;
//   transform: translateX(0);
// }

// .enter-active,
// [class*=exit-active] {
//   transition: opacity 0.15s ease, transform 0.15s ease;
// }

.enter {
  opacity: 0;
}
.exit-active {
  opacity: 0;
}

.exit {
  opacity: 1;
}

.enter-active {
  opacity: 1;
}

.enter-active,
.exit-active {
  transition: opacity 0.05s ease;
}