@import "../../styles/vars.scss";

$left: translateX(100%);
$right: translateX(-100%);

$slide-props: (
  def: translateX(0),
  prev: (
    enter: $right,
    exit: $left
  ),
  next: (
    enter: $left,
    exit: $right
  )
);

@mixin transition($dur: 300ms, $easing: $main-ease) {
  transition: opacity $dur $easing, transform $dur $easing;
}

@mixin get-slide-props($dir: def, $action: def) {
  @if ($dir == def and $action == def) {
    opacity: 1;
    transform: translateX(0);
  } @else {
    $props: map-get($slide-props, #{$dir});
    opacity: 0;
    transform: map-get($props, #{$action});
  }
}

.exit {
  @include get-slide-props;
  &.next, &.prev {
    &-exit-active {
      @include transition
    }
  }
  &.next-exit-active {
    @include get-slide-props(next, exit);
  }
  &.prev-exit-active {
    @include get-slide-props(prev, exit);
  }
}

.prev-enter {
  @include get-slide-props(prev, enter);
}

.next-enter {
  @include get-slide-props(next, enter);
}

.next, .prev {
  &-enter {
    &.enter-active {
      @include get-slide-props;
      @include transition
    }
  }
}