@import "../../styles/vars.scss";

$side-width: 400px;
$stick-out: 48px;

.container {
  background-color: $base-gray;
  @include mq{
    min-height: 100vh;
    padding-left: $side-width;
    will-change: padding-left;
    transition: padding-left 0.2s $main-ease;
    &.side-close {
      padding-left: $stick-out;
      .side {
        transform: translateX(-($side-width - $stick-out));
      }
    }
  }
}

.side {
  @include mq{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: $side-width;
    background-color: #fff;
    transition: transform 200ms $main-ease;
    will-change: transform;
    z-index: 1;
  }
}

.main {
  padding: 20px 20px 24px;
  @include mq{
    padding: 30px 30px 24px;
  }
}