@import "../../styles/vars.scss";

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
  + & {
    margin-top: 24px;
  } 
  @include mq{
    display: flex;
  }
}

.left {
  @include mq{
    min-width: 260px;
    margin-right: 24px;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

