@import "../../styles/vars.scss";

.tabs {
  display: inline-flex;
  > * + * {
    margin-left: 20px;
  }
}

.tabs-container {
  position: relative;
  border-bottom: 1px solid $l-gray;
  margin-bottom: 24px;
}