@import "../../styles/vars.scss";

.header {
  background-color: $primary;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  &-logo {
    padding: 18px;
    color: #fff;
    font-size: 16px;
  }
  &-close {
    &.close {
      > svg {
        transform: rotate(180deg);
      }
    }
    width: 62px;
    background-color: darken($primary, 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    > svg {
      will-change: transform;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      width: 16px;
    }
  }
  &-logo {
    > * {
      display: inline-block;
      margin-top: 8px;
    }
  }
}