@import "../../styles/vars.scss";

.tab {
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
  padding-bottom: 1em;
  padding-left: 0;
  position: relative;
  min-width: 130px;
  text-align: center;
  > * + * {
    margin-left: 0.5em;
  }
  &.active {
    font-weight: bold;
  }
  &:focus {
    outline: none;
  }
}