.icon {
  display: inline-block;
  background-image: url(../../images/sprite.png);
}
.css {
  background-position: 0px 0px;
  width: 15px;
  height: 15px;
}
.electron {
  background-position: -15px 0px;
  width: 15px;
  height: 15px;
}
.firebase {
  background-position: 0px -15px;
  width: 15px;
  height: 15px;
}
.github {
  background-position: -15px -15px;
  width: 15px;
  height: 15px;
}
.html {
  background-position: -30px 0px;
  width: 15px;
  height: 15px;
}
.js {
  background-position: -30px -15px;
  width: 15px;
  height: 15px;
}
.m5stack {
  background-position: 0px -30px;
  width: 15px;
  height: 15px;
}
.nodejs {
  background-position: -15px -30px;
  width: 15px;
  height: 15px;
}
.nuxt {
  background-position: -30px -30px;
  width: 15px;
  height: 15px;
}
.obniz {
  background-position: -45px 0px;
  width: 15px;
  height: 15px;
}
.react {
  background-position: -45px -15px;
  width: 15px;
  height: 15px;
}
.scss {
  background-position: -45px -30px;
  width: 15px;
  height: 15px;
}
.ts {
  background-position: 0px -45px;
  width: 15px;
  height: 15px;
}
.vue {
  background-position: -15px -45px;
  width: 15px;
  height: 15px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon {
    background-image: url(../../images/sprite@2x.png);
    background-size: 60px 60px;
  }
}
