@import "../../styles/vars.scss";

.contents {
  padding: 20px;
}

.section + .section {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px lighten($l-gray, 5%) solid;
}

.emoji {
  margin-right: 6px;
}