@import "../../styles/vars.scss";

.contents {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.section {
  padding-left: 1em;
  padding-right: 1em;
}

.section + .section {
  margin-top: 2.2em;
  padding-top: 1.8em;
  border-top: 1px $l-gray-lighten solid;
}

.skill-list {
  &__ttl {
    color: $d-gray;
    font-size: 1.4rem;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  & + & {
    margin-top: 1.5em;
  }
}