.icon {
  display: inline-block;
  background-image: url(../../images/sprite.png);
}
.css {
  background-position: 0px 0px;
  width: 18px;
  height: 18px;
}
.electron {
  background-position: -18px 0px;
  width: 18px;
  height: 18px;
}
.firebase {
  background-position: 0px -18px;
  width: 18px;
  height: 18px;
}
.github {
  background-position: -18px -18px;
  width: 18px;
  height: 18px;
}
.html {
  background-position: -36px 0px;
  width: 18px;
  height: 18px;
}
.js {
  background-position: -36px -18px;
  width: 18px;
  height: 18px;
}
.m5stack {
  background-position: 0px -36px;
  width: 18px;
  height: 18px;
}
.nodejs {
  background-position: -18px -36px;
  width: 18px;
  height: 18px;
}
.nuxt {
  background-position: -36px -36px;
  width: 18px;
  height: 18px;
}
.obniz {
  background-position: -54px 0px;
  width: 18px;
  height: 18px;
}
.react {
  background-position: -54px -18px;
  width: 18px;
  height: 18px;
}
.scss {
  background-position: -54px -36px;
  width: 18px;
  height: 18px;
}
.ts {
  background-position: 0px -54px;
  width: 18px;
  height: 18px;
}
.vue {
  background-position: -18px -54px;
  width: 18px;
  height: 18px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon {
    background-image: url(../../images/sprite@2x.png);
    background-size: 72px 72px;
  }
}
